<table class="table table-striped table-responsive-md btn-table">
    <thead>
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Vlad</td>
        <td>Zaycev</td>
        <td>lermion</td>
        <td>25</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Sergey</td>
        <td>Petrov</td>
        <td>lalala555</td>
        <td>30</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>larry</td>
        <td>last</td>
        <td>35</td>
    </tr>
    </tbody>
</table>